<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RJ2506-20251125-all-13">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0086992614669132 0.00499983083483513 0.216987276743484"
        rpy="0 0 0" />
      <mass
        value="26.7519139746161" />
      <inertia
        ixx="0.387586535055159"
        ixy="0.00116618343106303"
        ixz="0.00112683461180678"
        iyy="0.347238571580365"
        iyz="-9.44136723426204E-05"
        izz="0.647845030034637" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="5.6968844086569E-09 4.18732232776442E-08 -0.0280353027836984"
        rpy="0 0 0" />
      <mass
        value="1.40909278388532" />
      <inertia
        ixx="0.00468758065887278"
        ixy="6.14328708772137E-08"
        ixz="3.0883555791349E-16"
        iyy="0.004687934093688"
        iyz="-2.99024181456038E-18"
        izz="0.00859281330420875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.127158254752953 0.314203453065842 0.0750000000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -5.55111512312578E-17 -0.028035303768161"
        rpy="0 0 0" />
      <mass
        value="1.409092006875" />
      <inertia
        ixx="0.00468757427874673"
        ixy="-3.8449095526968E-08"
        ixz="1.12886989241864E-18"
        iyy="0.00468794047381405"
        iyz="-3.89419572838171E-19"
        izz="0.00859281330420875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.127158254752976 -0.314196546934228 0.0750000000000001"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="front_castor_roller">
    <inertial>
      <origin
        xyz="-0.000557440298790346 -0.000113788808885351 -0.0303791109517605"
        rpy="0 0 0" />
      <mass
        value="0.0410922228892282" />
      <inertia
        ixx="4.03153425304829E-05"
        ixy="7.16006586650411E-08"
        ixz="-1.75845951322294E-06"
        iyy="3.61728300362249E-05"
        iyz="-1.55500880962934E-07"
        izz="3.76138224134597E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/front_castor_roller.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/front_castor_roller.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_caster_roller_joint"
    type="continuous">
    <origin
      xyz="0.192158254752976 0.000103453065798953 0.0780000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_castor_roller" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="front_castor_wheel">
    <inertial>
      <origin
        xyz="0.000173305240552979 5.55111512312578E-17 -0.0253870640460705"
        rpy="0 0 0" />
      <mass
        value="0.202499221904627" />
      <inertia
        ixx="0.000111650940645115"
        ixy="-4.01806413035193E-21"
        ixz="-1.63572582164296E-07"
        iyy="0.000111649824013997"
        iyz="-1.06760009026836E-21"
        izz="0.000135611174555599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/front_castor_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/front_castor_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_caster_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0202733042933136 0.0252121945957521 -0.065"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="front_castor_roller" />
    <child
      link="front_castor_wheel" />
    <axis
      xyz="-0.00682635858369262 0 0.999976700142802" />
  </joint>
  <link
    name="left_castor_roller">
    <inertial>
      <origin
        xyz="-0.000113788804908588 0.000557440285192112 -0.030379110951023"
        rpy="0 0 0" />
      <mass
        value="0.0410922228900686" />
      <inertia
        ixx="3.61728300494549E-05"
        ixy="-7.16006423103287E-08"
        ixz="-1.5550087823156E-07"
        iyy="4.03153425340229E-05"
        iyz="1.7584594933835E-06"
        izz="3.76138224387701E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_castor_roller.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_castor_roller.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_caster_roller_joint"
    type="continuous">
    <origin
      xyz="-0.163441745247024 0.244303453065799 0.0780000000000022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_castor_roller" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_castor_wheel">
    <inertial>
      <origin
        xyz="0.000172791139640194 0 -0.0253117546511697"
        rpy="0 0 0" />
      <mass
        value="0.202499221904627" />
      <inertia
        ixx="0.000111650940645115"
        ixy="7.06157621384101E-22"
        ixz="-1.63572582164329E-07"
        iyy="0.000111649824013997"
        iyz="-2.36812716035958E-20"
        izz="0.000135611174555599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_castor_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_castor_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_caster_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0254866241014879 -0.0199272079131204 -0.0650000000000001"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="left_castor_roller" />
    <child
      link="left_castor_wheel" />
    <axis
      xyz="-0.0068263585836926 0 0.999976700142802" />
  </joint>
  <link
    name="right_castor_roller">
    <inertial>
      <origin
        xyz="0.000113788810498977 -0.0303791109469055 0.000557440288695366"
        rpy="0 0 0" />
      <mass
        value="0.0410922228825033" />
      <inertia
        ixx="3.61728300438282E-05"
        ixy="1.55500883580755E-07"
        ixz="7.16006469579178E-08"
        iyy="3.76138224294846E-05"
        iyz="1.75845949719036E-06"
        izz="4.03153425231476E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_castor_roller.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_castor_roller.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_castor_roller_joint"
    type="continuous">
    <origin
      xyz="-0.167941745247024 -0.244296546934201 0.0779999999999991"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="right_castor_roller" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_castor_wheel">
    <inertial>
      <origin
        xyz="0.0253870640460704 0 0.000173305240552979"
        rpy="0 0 0" />
      <mass
        value="0.202499221904628" />
      <inertia
        ixx="0.000135611174555599"
        ixy="7.8083802421297E-21"
        ixz="1.63572582164294E-07"
        iyy="0.000111649824013997"
        iyz="-3.20404948995545E-21"
        izz="0.000111650940645115" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_castor_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_castor_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_caster_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.025212194595752 -0.065 -0.0202733042933136"
      rpy="0 0 0" />
    <parent
      link="right_castor_roller" />
    <child
      link="right_castor_wheel" />
    <axis
      xyz="-0.999976700142802 0 -0.0068263585836926" />
  </joint>
  <link
    name="body_link1">
    <inertial>
      <origin
        xyz="-4.31295084630245E-05 -0.00421101313190619 0.0453219931156116"
        rpy="0 0 0" />
      <mass
        value="1.2329725334999" />
      <inertia
        ixx="0.00228390890774754"
        ixy="2.98917211897126E-07"
        ixz="-1.47108179038847E-06"
        iyy="0.00334162854579429"
        iyz="-4.78109345528909E-07"
        izz="0.00233416767802444" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/body_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/body_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_jonit1"
    type="revolute">
    <origin
      xyz="-0.0028417 0 0.8295"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="body_link2">
    <inertial>
      <origin
        xyz="0.000958653082196427 0.201270903257914 -0.0432950403578416"
        rpy="0 0 0" />
      <mass
        value="3.1157546443953" />
      <inertia
        ixx="0.0135579454108103"
        ixy="0.000115314171114847"
        ixz="3.7546757884485E-08"
        iyy="0.00708202087654693"
        iyz="1.01051941171363E-06"
        izz="0.013377043683685" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/body_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/body_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint2"
    type="revolute">
    <origin
      xyz="0 -0.0455 0.08"
      rpy="1.5708 0 0" />
    <parent
      link="body_link1" />
    <child
      link="body_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.75"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="cam_head">
    <inertial>
      <origin
        xyz="0.0792753926401016 0.444110893186266 -0.0455000000000116"
        rpy="0 0 0" />
      <mass
        value="0.0746933693755749" />
      <inertia
        ixx="1.84259414422146E-05"
        ixy="-1.01766647264786E-06"
        ixz="-4.06924508647163E-20"
        iyy="1.86250552425885E-05"
        iyz="4.20717515440199E-20"
        izz="1.74035104077852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/cam_head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/cam_head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_cam_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body_link2" />
    <child
      link="cam_head" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_arm_link0">
    <inertial>
      <origin
        xyz="0.0882711459374961 -0.000362302850968055 -0.00294472984422307"
        rpy="0 0 0" />
      <mass
        value="0.238001140524293" />
      <inertia
        ixx="0.000424938539691083"
        ixy="2.48906792021067E-08"
        ixz="5.57253420622779E-05"
        iyy="0.000704505764655377"
        iyz="3.09270373297774E-08"
        izz="0.000861651567587453" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint0"
    type="revolute">
    <origin
      xyz="0 0.2525 -0.155"
      rpy="0 1.5708 0" />
    <parent
      link="body_link2" />
    <child
      link="left_arm_link0" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link1">
    <inertial>
      <origin
        xyz="-0.0479372885458475 -0.0255990315987933 0.00321022550757699"
        rpy="0 0 0" />
      <mass
        value="0.891893424900436" />
      <inertia
        ixx="0.00161545702563551"
        ixy="-7.69856406328664E-05"
        ixz="5.15085952795883E-06"
        iyy="0.00121657663419294"
        iyz="-6.30944159758869E-06"
        izz="0.00129387995939797" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint1"
    type="revolute">
    <origin
      xyz="0.108 0 -0.0525"
      rpy="0 1.5708 0" />
    <parent
      link="left_arm_link0" />
    <child
      link="left_arm_link1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link2">
    <inertial>
      <origin
        xyz="0.107184008785762 0.00400227029796518 -2.6008859841456E-06"
        rpy="0 0 0" />
      <mass
        value="0.824773571458771" />
      <inertia
        ixx="0.000826589534514666"
        ixy="-6.36410087070468E-05"
        ixz="8.96849354044908E-07"
        iyy="0.00151814031423236"
        iyz="4.39286686177597E-08"
        izz="0.00146453441013561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint2"
    type="revolute">
    <origin
      xyz="-0.053911 -0.12996 0.011921"
      rpy="1.5767 -0.087266 -1.5713" />
    <parent
      link="left_arm_link1" />
    <child
      link="left_arm_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link3">
    <inertial>
      <origin
        xyz="0.0473618581774884 -0.0479647252689563 0.00359619407468852"
        rpy="0 0 0" />
      <mass
        value="0.309934047430043" />
      <inertia
        ixx="0.000644628581739132"
        ixy="4.52871938070663E-05"
        ixz="6.07478036250765E-06"
        iyy="0.000391514989697135"
        iyz="-6.13423775177319E-06"
        izz="0.000481429600142671" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint3"
    type="revolute">
    <origin
      xyz="0.175 0.04945 -0.00028886"
      rpy="3.1411 -0.0058414 -1.5708" />
    <parent
      link="left_arm_link2" />
    <child
      link="left_arm_link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link4">
    <inertial>
      <origin
        xyz="0.058927807041321 9.25924841572723E-05 -0.000134846182588293"
        rpy="0 0 0" />
      <mass
        value="0.481340222963776" />
      <inertia
        ixx="0.000464225178501514"
        ixy="2.25015402936985E-07"
        ixz="4.27843087468458E-05"
        iyy="0.000862590377554964"
        iyz="6.85499501295902E-08"
        izz="0.000850619186439978" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint4"
    type="revolute">
    <origin
      xyz="0.050131 -0.1105 -0.00013589"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="left_arm_link3" />
    <child
      link="left_arm_link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_base">
    <inertial>
      <origin
        xyz="0.0490104745154481 -0.000222931856034503 0.0570954519754371"
        rpy="0 0 0" />
      <mass
        value="0.425977846728743" />
      <inertia
        ixx="0.000196167542911642"
        ixy="-1.08827996223091E-07"
        ixz="2.59181400252083E-08"
        iyy="0.000192354967475662"
        iyz="-2.21891311843369E-07"
        izz="0.000194835525376335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint5"
    type="revolute">
    <origin
      xyz="0.155 0.0013007 0.045864"
      rpy="0 1.5708 0" />
    <parent
      link="left_arm_link4" />
    <child
      link="left_hand_base" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_finger1">
    <inertial>
      <origin
        xyz="0.0495060496321965 0.0197399835686078 0.180370756431536"
        rpy="0 0 0" />
      <mass
        value="0.0086569874075513" />
      <inertia
        ixx="1.10420099973295E-06"
        ixy="1.78479008444909E-08"
        ixz="5.96643317325932E-08"
        iyy="1.03663597894263E-06"
        iyz="9.54866713752479E-08"
        izz="3.74482952935254E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_finger1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_finger1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_finger1_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hand_base" />
    <child
      link="left_hand_finger1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0.015"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_finger2">
    <inertial>
      <origin
        xyz="0.0434939503377452 -0.0197407586191736 0.180370756229866"
        rpy="0 0 0" />
      <mass
        value="0.00865698738066051" />
      <inertia
        ixx="1.10420099707155E-06"
        ixy="1.78479004188489E-08"
        ixz="-5.9664332003823E-08"
        iyy="1.0366359771396E-06"
        iyz="-9.54866703354799E-08"
        izz="3.74482950590246E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_finger2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_finger2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_finger2_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hand_base" />
    <child
      link="left_hand_finger2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.015"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hand_front_cam">
    <inertial>
      <origin
        xyz="-0.0104927683788675 -3.87521575939687E-07 0.104674295101155"
        rpy="0 0 0" />
      <mass
        value="0.095866762144438" />
      <inertia
        ixx="2.75408188934257E-05"
        ixy="-1.36587005275684E-18"
        ixz="-9.02838216739117E-07"
        iyy="2.3346676346651E-05"
        iyz="1.42428590080811E-18"
        izz="2.41800785288576E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_front_cam.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/left_hand_front_cam.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_front_cam_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hand_base" />
    <child
      link="left_hand_front_cam" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_arm_link0">
    <inertial>
      <origin
        xyz="0.088236442817197 -0.000362081822915306 0.00385039494392755"
        rpy="0 0 0" />
      <mass
        value="0.238000914058001" />
      <inertia
        ixx="0.000426129108471693"
        ixy="2.49353580985063E-08"
        ixz="-6.01936313197551E-05"
        iyy="0.000704510673237459"
        iyz="-2.98983911991416E-08"
        izz="0.000860463417888521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint0"
    type="revolute">
    <origin
      xyz="0 0.2525 0.064"
      rpy="0 -1.5605 0" />
    <parent
      link="body_link2" />
    <child
      link="right_arm_link0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link1">
    <inertial>
      <origin
        xyz="-0.0479409595985664 -0.0255967765041668 -0.00321167696539792"
        rpy="0 0 0" />
      <mass
        value="0.8918480783456" />
      <inertia
        ixx="0.00161538679808183"
        ixy="-7.69454230419985E-05"
        ixz="-5.17312455499622E-06"
        iyy="0.00121653211059272"
        iyz="6.34189268601815E-06"
        izz="0.00129385277087062" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint1"
    type="revolute">
    <origin
      xyz="0.10746 0 0.053605"
      rpy="-3.1416 -1.5605 3.1416" />
    <parent
      link="right_arm_link0" />
    <child
      link="right_arm_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link2">
    <inertial>
      <origin
        xyz="0.107173452837241 0.00428698418342799 -7.69559850356122E-06"
        rpy="0 0 0" />
      <mass
        value="0.824770515441108" />
      <inertia
        ixx="0.000826923100009396"
        ixy="-6.54752193016521E-05"
        ixz="-7.97007646227534E-07"
        iyy="0.00151776036698689"
        iyz="-5.75352380344061E-08"
        izz="0.00146450154625875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint2"
    type="revolute">
    <origin
      xyz="-0.053911 -0.12996 -0.011921"
      rpy="-1.5759 0.084611 -1.5712" />
    <parent
      link="right_arm_link1" />
    <child
      link="right_arm_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link3">
    <inertial>
      <origin
        xyz="0.0473623331671174 -0.0479646569313931 -0.00359604148466477"
        rpy="0 0 0" />
      <mass
        value="0.309940241378268" />
      <inertia
        ixx="0.000644636360974277"
        ixy="4.52869726413715E-05"
        ixz="-6.07686624362506E-06"
        iyy="0.000391520750370997"
        iyz="6.13373934074774E-06"
        izz="0.00048143170992429" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint3"
    type="revolute">
    <origin
      xyz="0.17487 0.049915 0.00024066"
      rpy="-3.1411 0.0050971 -1.5681" />
    <parent
      link="right_arm_link2" />
    <child
      link="right_arm_link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link4">
    <inertial>
      <origin
        xyz="0.0589278085190901 -0.000169213530577861 0.000134800323891592"
        rpy="0 0 0" />
      <mass
        value="0.48134024714874" />
      <inertia
        ixx="0.000464224539927095"
        ixy="2.24808895452248E-07"
        ixz="-4.27886090998918E-05"
        iyy="0.000862589683855108"
        iyz="6.87149814575955E-08"
        izz="0.000850619131205673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint4"
    type="revolute">
    <origin
      xyz="0.049869 -0.1105 0.00013589"
      rpy="-3.1416 0 -1.5708" />
    <parent
      link="right_arm_link3" />
    <child
      link="right_arm_link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_base">
    <inertial>
      <origin
        xyz="0.0490104742862492 -0.0571014202477721 8.00800618380726E-05"
        rpy="0 0 0" />
      <mass
        value="0.4259779188237" />
      <inertia
        ixx="0.000196167609255449"
        ixy="-1.41259066535039E-07"
        ixz="4.72597127384279E-08"
        iyy="0.000194662709379743"
        iyz="1.35240533723015E-07"
        izz="0.000192527883434596" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint5"
    type="revolute">
    <origin
      xyz="0.155 -0.00013132 -0.045864"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="right_arm_link4" />
    <child
      link="right_hand_base" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_finger1">
    <inertial>
      <origin
        xyz="0.0434939503684225 -0.180370756431385 -0.0197407586121253"
        rpy="0 0 0" />
      <mass
        value="0.00865698740755124" />
      <inertia
        ixx="1.10420099973253E-06"
        ixy="5.96643317351086E-08"
        ixz="1.78479008441584E-08"
        iyy="3.74482952935663E-07"
        iyz="9.54866713753073E-08"
        izz="1.03663597894262E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_finger1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_finger1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_finger1_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_base" />
    <child
      link="right_hand_finger1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.015"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_finger2">
    <inertial>
      <origin
        xyz="0.0495060496628758 -0.180370756229697 0.0197399835756545"
        rpy="0 0 0" />
      <mass
        value="0.00865698738066073" />
      <inertia
        ixx="1.10420099707201E-06"
        ixy="-5.96643320013183E-08"
        ixz="1.78479004191753E-08"
        iyy="3.74482950589842E-07"
        iyz="-9.54866703354257E-08"
        izz="1.03663597713964E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_finger2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_finger2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_finger2_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_base" />
    <child
      link="right_hand_finger2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.015"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hand_front_cam">
    <inertial>
      <origin
        xyz="-0.0104927683785074 -0.104674295101191 -3.87521945199865E-07"
        rpy="0 0 0" />
      <mass
        value="0.095866762144438" />
      <inertia
        ixx="2.75408188934194E-05"
        ixy="9.02838216750682E-07"
        ixz="1.57928981769988E-18"
        iyy="2.41800785288638E-05"
        iyz="1.45414381219882E-18"
        izz="2.3346676346651E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_front_cam.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RJ2506-20251125-all-13/meshes/right_hand_front_cam.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_front_cam_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_base" />
    <child
      link="right_hand_front_cam" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>